//HOVER SOBRE LAS FILAS
.mat-mdc-row:hover .mat-mdc-cell {
  background-color: var(--color100);
}

.row-disabled {
    background-color: var(--danger-base);
}

.mat-mdc-header-row {
  text-align: left;
}

.mat-column-id {
  max-width: 60px;
  text-align: center;
}

.mat-column-facultad {
  max-width: 300px;
}

.mat-column-nombre_proyecto {
  width: auto;
}

.mat-column-nivel_proyecto {
  max-width: 90px;
}

.mat-column-codigo {
  max-width: 80px;
}

.mat-column-cod_snies {
  max-width: 80px;
}

.mat-column-activo {
  max-width: 75px;
}

.mat-column-vencimiento_registro {
  max-width: 130px;
}

.mat-column-vencimiento_alta_calidad {
  max-width: 130px;
}

.mat-column-acciones {
  max-width: 100px;
}

.badge {
    margin: 0.4em;
    width: 0.5em;
    height: 0.5em;
    border-radius: 100%;
}