<mat-card accent="info" align="center" size="12">
  <mat-card-header>
    <mat-card-title>
      {{ "consultaproyecto.titulo_consulta" | translate }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <!-- // This is the form that will be used to display the project's basic information -->
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          {{ "proyecto.basica" | translate }}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form id="basicForm" [formGroup]="basicform">
          <div class="form-grid2">
            <div class="form-col1">
              <mat-form-field class="form-field">
                <mat-label>{{
                  "proyecto.codigo_interno" | translate
                }}</mat-label>
                <input
                  readonly
                  matInput
                  placeholder="{{ 'proyecto.codigo_interno' | translate }}"
                  formControlName="codigo_interno"
                  name="codigo_interno"
                  [(ngModel)]="data.codigointerno"
                />
              </mat-form-field>
            </div>
            <div class="form-col1">
              <mat-form-field class="form-field">
                <mat-label>{{ "proyecto.codigo_snies" | translate }}</mat-label>
                <input
                  readonly
                  matInput
                  placeholder="{{ 'proyecto.codigo_snies' | translate }}"
                  formControlName="codigo_snies"
                  name="codigo_snies"
                  [(ngModel)]="data.codigosnies"
                />
              </mat-form-field>
            </div>
            <div class="form-col1">
              <mat-form-field class="form-field">
                <mat-label>{{ "proyecto.facultad" | translate }}</mat-label>
                <input
                  readonly
                  matInput
                  placeholder="{{ 'proyecto.facultad' | translate }}"
                  formControlName="facultad"
                  name="facultad"
                  [(ngModel)]="data.facultad"
                />
              </mat-form-field>
            </div>
            <div class="form-col1">
              <mat-form-field class="form-field">
                <mat-label>{{ "proyecto.oikos" | translate }}</mat-label>
                <mat-select
                  [formControl]="CampoControl_espacio"
                  required
                  [(ngModel)]="opcionSeleccionadoEspacio"
                >
                  <mat-option>--</mat-option>
                  <mat-option
                    *ngFor="let nombreespacio of espacio"
                    [value]="nombreespacio"
                  >
                    {{ nombreespacio["Nombre"] }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-col1">
              <mat-form-field class="form-field">
                <mat-label>{{
                  "proyecto.nombre_proyecto" | translate
                }}</mat-label>
                <input
                  readonly
                  matInput
                  placeholder="{{ 'proyecto.nombre_proyecto' | translate }}"
                  id="nombre_proyecto"
                  formControlName="nombre_proyecto"
                  name="nombre_proyecto"
                  [(ngModel)]="data.nombre"
                />
              </mat-form-field>
            </div>
            <div class="form-col1">
              <mat-form-field class="form-field">
                <mat-label>{{
                  "proyecto.nivel_proyecto" | translate
                }}</mat-label>
                <input
                  readonly
                  matInput
                  placeholder="{{ 'proyecto.nivel_proyecto' | translate }}"
                  formControlName="nivel_proyecto"
                  name="nivel_proyecto"
                  [(ngModel)]="data.nivel"
                />
              </mat-form-field>
            </div>
            <div class="form-col1">
              <mat-form-field class="form-field">
                <mat-label>{{
                  "proyecto.metodologia_proyecto" | translate
                }}</mat-label>
                <input
                  readonly
                  matInput
                  placeholder="{{
                    'proyecto.metodologia_proyecto' | translate
                  }}"
                  formControlName="metodologia_proyecto"
                  name="metodologia_proyecto"
                  [(ngModel)]="data.metodologia"
                />
              </mat-form-field>
            </div>
            <div class="form-col1">
              <mat-form-field class="form-field">
                <mat-label>{{
                  "proyecto.abreciacion_proyecto" | translate
                }}</mat-label>
                <input
                  readonly
                  matInput
                  placeholder="{{
                    'proyecto.abreciacion_proyecto' | translate
                  }}"
                  formControlName="abreviacion_proyecto"
                  name="abreviacion_proyecto"
                  [(ngModel)]="data.abreviacion"
                />
              </mat-form-field>
            </div>
          </div>
        </form>
        <form id="basicForm" [formGroup]="basicform">
          <div class="form-grid2">
            <div class="form-col1">
              <mat-form-field class="form-field">
                <mat-label>{{
                  "proyecto.correo_proyecto" | translate
                }}</mat-label>
                <input
                  readonly
                  matInput
                  placeholder="{{ 'proyecto.correo_proyecto' | translate }}"
                  formControlName="correo_proyecto"
                  name="correo_proyecto"
                  [(ngModel)]="data.correo"
                />
              </mat-form-field>
            </div>
            <div class="form-col1">
              <mat-form-field class="form-field">
                <mat-label>{{
                  "proyecto.creditos_proyecto" | translate
                }}</mat-label>
                <input
                  readonly
                  matInput
                  placeholder="{{ 'proyecto.creditos_proyecto' | translate }}"
                  formControlName="creditos_proyecto"
                  name="creditos_proyecto"
                  [(ngModel)]="data.numerocreditos"
                />
              </mat-form-field>
            </div>
            <div class="form-col1">
              <mat-form-field class="form-field">
                <mat-label>{{
                  "proyecto.duracion_proyecto" | translate
                }}</mat-label>
                <input
                  readonly
                  matInput
                  placeholder="{{ 'proyecto.duracion_proyecto' | translate }}"
                  formControlName="duracion_proyecto"
                  name="duracion_proyecto"
                  [(ngModel)]="data.duracion"
                />
              </mat-form-field>
            </div>
            <div class="form-col1">
              <mat-form-field class="form-field">
                <mat-label>{{
                  "proyecto.tipo_duracion" | translate
                }}</mat-label>
                <input
                  readonly
                  matInput
                  placeholder="{{ 'proyecto.tipo_duracion' | translate }}"
                  formControlName="tipo_duracion_proyecto"
                  name="tipo_duracion_proyecto"
                  [(ngModel)]="data.tipoduracion"
                />
              </mat-form-field>
            </div>
            <div class="form-col1">
              <mat-form-field class="form-field">
                <mat-label>{{
                  "proyecto.ciclo_proyecto" | translate
                }}</mat-label>
                <input
                  readonly
                  matInput
                  placeholder="{{ 'proyecto.ciclo_proyecto' | translate }}"
                  formControlName="ciclos_proyecto"
                  name="ciclos_proyecto"
                  [(ngModel)]="data.ciclos"
                />
              </mat-form-field>
            </div>
            <div class="form-col1">
              <mat-form-field class="form-field">
                <mat-label>{{
                  "proyecto.ofrece_proyecto" | translate
                }}</mat-label>
                <input
                  readonly
                  matInput
                  placeholder="{{ 'proyecto.ofrece_proyecto' | translate }}"
                  formControlName="ofrece_proyecto"
                  name="ofrece_proyecto"
                  [(ngModel)]="data.ofrece"
                />
              </mat-form-field>
            </div>
          </div>
        </form>
        <mat-form-field class="form-field" *ngIf="data.proyecto_padre_id">
          <input
            readonly
            matInput
            placeholder="{{ 'proyecto.proyecto_padre' | translate }}"
            formControlName="proyecto_padre_id"
            name="proyecto_padre_id"
            [(ngModel)]="data.proyecto_padre_id.Nombre"
          />
        </mat-form-field>
      </mat-card-content>
    </mat-card>
    <!-- TABLA -->
    <mat-card class="m-12" accent="info">
      <mat-card-header>
        <mat-card-title>
          {{ "proyecto.enfasis" | translate }}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form id="basicForm" [formGroup]="basicform">
          <div class="container-table table">
            <mat-table mat-table [dataSource]="dataSource" class="demo-table">
              <ng-container matColumnDef="nombre" sticky>
                <mat-header-cell class="text-left" *matHeaderCellDef>
                  <b>{{ "GLOBAL.nombre" | translate }}</b>
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  {{ row.EnfasisId.Descripcion }}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="activo">
                <mat-header-cell class="text-left" *matHeaderCellDef>
                  <b>{{ "GLOBAL.activo" | translate }}</b>
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <p *ngIf="row.Activo">Si</p>
                  <p *ngIf="!row.Activo">no</p>
                </mat-cell>
              </ng-container>

              <mat-header-row
                *matHeaderRowDef="displayedColumns"
              ></mat-header-row>
              <mat-row
                *matRowDef="let row; columns: displayedColumns"
              ></mat-row>
            </mat-table>
          </div>
        </form>
      </mat-card-content>
    </mat-card>

    <br />
    <!-- // BOTONES -->
    <div class="container-buttons">
      <button mat-flat-button color="accent" (click)="cloneProject(data)">
        {{ "consultaproyecto.clonar_proyecto" | translate }}
      </button>
      <button mat-flat-button color="accent" (click)="prueba()">
        {{ "consultaproyecto.historico" | translate }}
      </button>
      <button mat-flat-button color="primary" (click)="onclick()">
        {{ "GLOBAL.aceptar" | translate }}
      </button>
    </div>
  </mat-card-content>
</mat-card>
