.boton-primary {
    border: solid 1px #03678f;
    font-weight: 300;
    background-color: #03678f;
    border-color: #03678f;
    cursor: pointer;
    color: white !important;
}

.check-p{
    color: white !important;
}